<p> <a href="/configurationList">Configuration List</a> >
    <a href="/overview">Overview</a> >
    <a href="/configurationBuilder">Configuration Builder</a> >
    <a href="/fileextention/">File Extention</a>
</p>

<h2>File Extention</h2>

<div class="centerCta">
    <h2>Almost there!</h2>
    <p>Please select the desired file extension(s) for export.</p>
</div>


<div class="grid-container">
    <div class="grid-item"><img src="/assets/svg/csv.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/txt.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/xls.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/xml.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/json.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/doc.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/sql.svg" alt="Italian Trulli"></div>
    <div class="grid-item"><img src="/assets/svg/pdf.svg" alt="Italian Trulli"></div>
  </div> 

<div class="buttons">
    <a class="backButton" href="/configurationBuilder"><button class="button">Back</button> </a>
    <a class="exportButton" href="/fileextention"><button class="button">Export</button> </a>
</div>

