/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
    font-family: AndesBold;
    src: url(assets\font\AndesNeueBold/AndesNeue-Bold.ttf);
  }
  @font-face {
    font-family: AndesBook;
    src: url(assets\font\AndesNeueBook/AndesNeue-Book.ttf);
  }

